---
import { setId } from "../../../store";
const { name, img, lastname, id, img1, img2, img3, rep, follow } = Astro.props;


---
<div class="card-container row d-flex justify-content-center align-ite-center text-center h-100 col-2" style="border:blue 1px solid">
    <a id="visit" href="/perfilV" class="textt">
        <img
            src={img}
            alt=""
            class=""
            style="border : white 1px solid"
            id="perfil"
        />
        <h2 class="text-white" style="border:none">
            {name + " " + lastname}
        </h2>
    </a>
    <h1 class="">{follow}</h1>

    <div class="bg-imgplay">
        <img class="img-play" src={img1} alt="no hay img" />
        <img class="img-play" src={img2} alt="no hay img" />
        <img class="img-play" src={img3} alt="no hay img" />
    </div>
    <h2>{rep}</h2>
</div>
<style>
    .card-container {
        background-color: rgb(233, 234, 242);
        border-radius: 2rem;
        border: red 1px solid;
        margin-left: 2%;
        padding: 2%;
    }
    

    .img-play {
        border: red 1px solid;
        width: 50px;
        height: 50px;

        border-radius: 50%;
    }
    .textt{
        text-decoration: none;
    }
</style>
