---
import { getUser } from "../../store";
import { play } from "../Juegos/MokeJuegos";
import Layout from "../layouts/Layout.astro";
let userV = getUser()
const user =userV[0]
let play1 = play[0]
let play2 = play[1]
let play3 = play[2]
---
<Layout title="Welcome to Astro.">
  <div class="profile">
    <h1 class="nombrePerfil">{user.name} {user.last}</h1>
    <img src={user.img} alt="Foto de perfil" class="rounded-circle lineas m-3">
    <div>
    <button id="follow-button" class="rounded-pill">Seguir</button>
    <button id="follow-button" class="rounded-pill">Mensaje</button>
    </div>
    <div class="description text-white col-5 text-center mx-auto rounded-pill p-5 ">
      <p>Como crítico de juegos, mi objetivo es analizar y evaluar de manera imparcial los aspectos técnicos, estéticos y de jugabilidad de los videojuegos. Con habilidades para identificar fortalezas y debilidades, proporciono una crítica fundamentada y objetiva, sin dejar de lado el entretenimiento y la diversión que los juegos deben brindar. Además, poseo una amplia experiencia en la industria de los videojuegos y estoy actualizado en las últimas tendencias y lanzamientos para ofrecer una opinión informada y útil a mis lectores y seguidores.</p>
    </div>
    <div class="followers-following follow ">
      <div class="followers rounded-pill">
        <h2>Seguidores</h2>
        <p id="followers-count">{user.follow}</p>
      </div>
      <div class="following rounded-pill">
        <h2>Seguidos</h2>
        <p id="following-count">{user.follow}</p>
      </div>
    </div>
    <div class="rectangles ">
      <div class="rectangle rounded">
       
        <h2 class="nombrePerfil">{play1.name}</h2>
        
        <img class="playimg rounded-circle lineas" src={play1.img} alt="">
        <p><span class="nombrePerfil">Puntuacion:</span> <span class="puntuacion">{play1.pts}/5</span></p>
        <div id="estrellas" class="start">

        </div>
        <div>
          <p class="textoJuegos">
            League of Legends (LoL) es un juego popular y bien establecido en la industria de los deportes electrónicos. Aunque tiene una gran base de jugadores y una comunidad activa, algunos críticos han señalado que la curva de aprendizaje es empinada y puede resultar desalentadora para los nuevos jugadores. Además, algunos jugadores han reportado comportamientos tóxicos en la comunidad, lo que puede afectar negativamente la experiencia del juego. Sin embargo, LoL continúa siendo un juego divertido y emocionante para muchos jugadores en todo el mundo.
          </p>
        </div>
      </div>
      <div class="rectangle rounded ">
        <h2 class="nombrePerfil">{play2.name}</h2>
        <img class="playimg rounded-circle lineas" src={play2.img} alt="">
        <p> <span class="nombrePerfil">Puntuacion:</span> <span class="puntuacion">{play2.pts}/5</span></p>
        <div>
          <p class="textoJuegos">
           Call of Duty es una franquicia popular de juegos de disparos en primera persona, aunque algunos críticos señalan su fórmula predecible y repetitiva y la presencia de comportamientos tóxicos en la comunidad. A pesar de esto, muchos jugadores continúan disfrutando de los juegos de la serie por su innovación y originalidad, manteniendo una base de jugadores activa y comprometida.
          </p>
        </div>
      </div>
      <div class="rectangle rounded">
        <h2 class="nombrePerfil">{play3.name}</h2>
        <img class="playimg rounded-circle lineas" src={play3.img} alt="">
        <p><span class="nombrePerfil">Puntuacion:</span> <span class="puntuacion">{play3.pts}/5</span></p>
        <div>
          <p class="textoJuegos">
            Fortnite es un juego de batalla real y construcción de bases que se ha vuelto extremadamente popular en todo el mundo. A pesar de las críticas que ha recibido por su adictividad, su estilo de juego de "matar o morir" y su enfoque en las microtransacciones, muchos jugadores continúan disfrutando de la emoción y la competitividad del juego. Además, el juego ha sido elogiado por su capacidad para unir a los jugadores en todo el mundo, ya que se puede jugar en línea con amigos y competir en eventos mundiales en vivo. En general, Fortnite ha dejado una marca duradera en la industria de los videojuegos y continúa siendo un juego popular entre muchos jugadores.
          </p>
        </div>
      </div>
    </div>
  </div>
  </Layout>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
  
  .profile {
    text-align: center;
  }
  
  .profile h1 {
    font-size: 2em;
  }
  
  .profile img {
    width: 300px;
    height: 300px;
  }
  
  .profile button {
    display: inline-block;
  padding: 10px 12px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #3b14af;
  color: #ffffff;
  text-shadow: 2px 2px 0 #000000;
  }
  
  .profile .description {
    padding: 1em;
    margin-top: 1em;
    border: 4px solid #3500D3;
  background: linear-gradient( #181818 20% , #313131 30%, #333232 35%, #4b4a4a 60%, #181818 80%  );
    
  }
  
  .profile .description p {
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
font-family: 'Roboto', sans-serif;
font-weight: 400 ;

  
  }
  
  .profile .followers-following {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .profile .followers,
  .profile .following {
    width: 30%;
    padding: 1em;
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 ;
    border: 4px solid #3500D3;
    background: linear-gradient( #181818 20% , #313131 30%, #333232 35%, #4b4a4a 60%, #181818 80%  );
	
  }
  
  .profile .followers h2,
  .profile .following h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .profile .followers p,
  .profile .following p {
    font-size: 1.2em;
  }
  
  .profile .rectangles {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .profile .rectangle {
    width: 30%;
    border: 4px solid #3500D3;
    padding: 1em;
    text-align: center;
    background: linear-gradient( #181818 20% , #313131 30%, #333232 35%, #4b4a4a 60%, #181818 80%  );
  }
  
  .profile .rectangle h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .profile .rectangle p {
    font-size: 1.2em;
  }

  .playimg{
    width: 25%;
    height: 25%;
  }
  
  .start{
    display: flex;
  }
  .follow {
color: #7362a7 ;
text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
font-family: 'Roboto', sans-serif;
font-weight: 900 ;
}

.lineas {
border: 4px solid #3500D3;
}
.nombrePerfil {
color: #7362a7 ;
text-shadow: 2px 2px 0 #240090, -2px -2px 0 #240090, 2px -2px 0 #240090, -2px 2px 0 #240090;
font-family: 'Roboto', sans-serif;
font-weight: 900 ;
text-size-adjust: 10px;
}

.textoJuegos {
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
font-family: 'Roboto', sans-serif;
font-weight: 400 ;
color:white;
}

.puntuacion {
    text-shadow: 2px 2px 0 #161414;
font-family: 'Roboto', sans-serif;
font-weight: 400 ;
color:rgb(227, 230, 25);
}

</style>
