---
import { getUser } from "../../store";
import { play } from "../Juegos/MokeJuegos";
import Layout from "../layouts/Layout.astro";



let userV = getUser()
const user =userV[0]

let play1 = play[0]

let play2 = play[1]
let play3 = play[2]

---
<Layout title="Welcome to Astro.">
  <div class="profile">
    <h1>{user.name} {user.last}</h1>
    <img src={user.img} alt="Foto de perfil">
    <div>
    <button id="follow-button">Seguir</button>
    <button id="follow-button">Mensaje</button>
    </div>
    <div class="description">
      <p>Descripción del perfil</p>
    </div>
    <div class="followers-following">
      <div class="followers">
        <h2>Seguidores</h2>
        <p id="followers-count">{user.follow}</p>
      </div>
      <div class="following">
        <h2>Seguidos</h2>
        <p id="following-count">{user.follow}</p>
      </div>
    </div>
    <div class="rectangles">
      <div class="rectangle">
       
        <h2>{play1.name}</h2>
        
        <img class="playimg" src={play1.img} alt="">
        <p>{play1.pts}</p>
        <div id="estrellas" class="start">

        </div>
        <div>
          <p>
            League of Legends (LoL) es un juego popular y bien establecido en la industria de los deportes electrónicos. Aunque tiene una gran base de jugadores y una comunidad activa, algunos críticos han señalado que la curva de aprendizaje es empinada y puede resultar desalentadora para los nuevos jugadores. Además, algunos jugadores han reportado comportamientos tóxicos en la comunidad, lo que puede afectar negativamente la experiencia del juego. Sin embargo, LoL continúa siendo un juego divertido y emocionante para muchos jugadores en todo el mundo.
          </p>
        </div>
      </div>
      <div class="rectangle">
        <h2>{play2.name}</h2>
        <img class="playimg" src={play2.img} alt="">
        <p>{play2.pts}</p>
        <div>
          <p>
            Call of Duty es una franquicia popular de juegos de disparos en primera persona, aunque algunos críticos señalan su fórmula predecible y repetitiva y la presencia de comportamientos tóxicos en la comunidad. A pesar de esto, muchos jugadores continúan disfrutando de los juegos de la serie por su innovación y originalidad, manteniendo una base de jugadores activa y comprometida.
          </p>
        </div>
      </div>
      <div class="rectangle">
        <h2>{play3.name}</h2>
        <img class="playimg" src={play3.img} alt="">
        <p>{play3.pts}</p>
        <div>
          <p>
            Fortnite es un juego de batalla real y construcción de bases que se ha vuelto extremadamente popular en todo el mundo. A pesar de las críticas que ha recibido por su adictividad, su estilo de juego de "matar o morir" y su enfoque en las microtransacciones, muchos jugadores continúan disfrutando de la emoción y la competitividad del juego. Además, el juego ha sido elogiado por su capacidad para unir a los jugadores en todo el mundo, ya que se puede jugar en línea con amigos y competir en eventos mundiales en vivo. En general, Fortnite ha dejado una marca duradera en la industria de los videojuegos y continúa siendo un juego popular entre muchos jugadores.
          </p>
        </div>
      </div>
    </div>
  </div>
  </Layout>
<style>
  .profile {
    text-align: center;
  }
  
  .profile h1 {
    font-size: 2em;
  }
  
  .profile img {
    width: 300px;
    height: 300px;
  }
  
  .profile button {
    background-color:brown;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 20%;
  }
  
  .profile .description {
    border: 1px solid gray;
    padding: 1em;
    margin-top: 1em;
  }
  
  .profile .description p {
    font-size: 1.2em;
  }
  
  .profile .followers-following {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .profile .followers,
  .profile .following {
    width: 30%;
    border: 1px solid gray;
    padding: 1em;
  }
  
  .profile .followers h2,
  .profile .following h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .profile .followers p,
  .profile .following p {
    font-size: 1.2em;
  }
  
  .profile .rectangles {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .profile .rectangle {
    width: 30%;
    border: 1px solid gray;
    padding: 1em;
    text-align: center;
  }
  
  .profile .rectangle h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .profile .rectangle p {
    font-size: 1.2em;
  }

  .playimg{
    width: 25%;
    height: 25%;
  }
  
  .start{
    display: flex;
  }
</style>